<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
			<h1>Hello vue js</h1>
			<div id="app">
			<p>오늘의 운세  : <strong>{{ fortune }}</:strong></p>
			<p>내이름은 : <strong>{{ myName }}</strong></p>
			<button v-on:click="clicked">눌러보셈</button>
			<button v-on:click="clicked2">내이름 바꾸기</button>
			<br />
			<input type="text" v-model="msg"/>
			<p>{{msg}}</p>
			<br />
			<h3>숫자 목록입니다.</h3>
			<ul>
				<li v-for="item in nums">{{item}}</li>
			</ul>
			</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script>
		//위에있는 링크가 로딩되어있다면 	{{ fortune }} 특별한 의미를 가질수있다
		//로딩한 링크에 Vue라는 객체가 있다고 생각하면된다
		//Vue객체를 생성하면서 오브젝트 전달하기
		// Vue js는 코드는 그대로지만  웹브라우저에서 출력하는 내용이 변경됨 (클라이언트 사이드 렌더링)
		//JSP는  서버에서 완성된채로 응답이 (서버사이드 렌더링)

		new Vue({
			el:"#app",
			data:{
				fortune:"동쪽으로 가면 귀신을 만나요",
				myName : "이준규",
				msg:"",
				nums:[10,20,30]
			},
			//어떤데이터에 변경을 가하면 
			methods:{
				clicked:function(){
					this.fortune="남쪽으로 가도 귀인을 만나요";
				},
				clicked2:function(){
					this.myName="이지";
				},
				
			},
		});

		</script>
</body>
</html>